/* general CSS rules */
* {
    padding: 0;
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* general CSS rules */

body {
    background-color: #EEEEEE;
}

input[type='email'] {
    max-width: 274px;
    width: 100%;
    padding: 5px;
    max-height: 35px;
    min-height: 35px;
}

input[type='submit'] {
    max-width: 150px;
    max-height: 35px;
    min-height: 35px;
    width: 100%;
    height: 30px;
    border: 0;
    background-color: #f1c40f;
    text-transform: uppercase;
    margin: 15px 0 15px 0; 
    height: 35px;
}

ul {
    list-style: none;
}
/* general CSS rules end  */

/* CSS Variables */
:root {
    --iconColor: orange;
}
/* CSS Variables End  */

header {
    align-items: end;
    display: flex;
    position: sticky;
    top: 0;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 5px;
}

.logoContainer {
    align-items: center;
    display: flex;
    grid-column: 1 / 4;
    justify-content: center;
}

.logo {
    height: 34px;
    width: 300px;
}

.navBarContainer {
    grid-column: 8 / -1;
}

ul#horizontalList {
    display: flex;
    justify-content: space-around;
}

ul#horizontalList li {
    display: inline;
    font-weight: 900;
}

ul#horizontalList li a {
    font-family: 'Courier New', Courier, monospace;
    color: #4C4C4C;
}

/* ================================  */
/* form second approach */
.formContainer {
    display: grid;
    grid-template-areas: 'top'
                         'middle';
    grid-template-columns: 1rf;
    grid-auto-rows: auto 1fr;
    margin: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.headingTitle {
    grid-area: top;
    justify-self: center;
    margin-bottom: 10px;
}

.sections {
    grid-area: middle;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 3vw);
}

.sections .email {
   grid-column: 3 / 11;
} 

.sections .button {
    grid-row: 2 / -1;
    grid-column: 5 / 9;
}

/* featuresContainer  */
.featuresContainer {
    display: grid;
    grid-template-areas: 'iconOne desOne'
                         'iconTwo desTwo'
                         'iconThree desThree';
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-column-gap: 45px;
    grid-row-gap: 40px;
    margin: 0 auto;
    width: 65%;
}

#iconOne {
    color: var(--iconColor);
    display: grid;
    grid-area: iconOne;
}

#iconTwo {
    color: var(--iconColor);
    display: grid;
    grid-area: iconTwo;
}

#iconThree {
    color: var(--iconColor);
    display: grid;
    grid-area: iconThree;
}

#desOne {
    grid-area: desOne;
}

#desTwo {
    display: grid;
    grid-area: desTwo;
}

#desThree {
    display: grid;
    grid-area: desThree;
}

/* videoContainer  */
.videoContainer {
    display: grid;
    grid-template-areas: '.     .       .'
                         '.     video   .';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
}

#video {
    display: grid;
    grid-area: video;
}

/* pricingContainer  */
.pricingContainer {
    /* background-color: red; */
    display: grid;
    grid-template-areas: '.     .       .       .       .'
                         '.     tenor   bass    valve   .'
                         '.     .       .       .       .' ;
    grid-template-columns: 1fr 1.8fr 1.8fr 1.8fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-column-gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.product > .level {
    background-color: #DDDDDD;
    color: black;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 17px;
    width: 100%;
}


.product > ol > li {
    list-style: none;
    padding: 5px 0;
    /* text-align: center; */
}

.product > h2 {
    margin-top: 15px;
}

.product > ol {
    margin: 15px 0;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    max-width: 50%;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

ol {
    padding: 0px;
}

#tenor {
    grid-area: tenor;
    border: 1px solid black;
}


#bass {
    grid-area: bass;
    border: 1px solid black;
}

#valve {
    grid-area: valve;
    border: 1px solid black;
}

/* Media Query */
@media screen and (max-width: 791px) {
    .headerGrid {
        display: grid;
        width: 100%;
        /* height: 100vh; */
        grid-template-areas: 'logo'
                             'list1';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 5px;
    }

    .logoContainer {
        grid-area: logo;
    }

    .navBarContainer {
        grid-area: list1;
    }

    .pricingContainer {
        display: grid;
        justify-content: center;
        width: 50%;
        grid-template-areas: 'tenor'
                             'bass'
                             'valve';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 5px;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    #tenor {
        grid-area: tenor;
    }

    #bass {
        grid-area: bass;
    }

    #valve {
        grid-area: valve;
    }
}
